<div class="navbar yamm navbar-main" role="navigation">
  <div class="row">
    <div class="navbar-header">
      <button type="button" data-toggle="collapse" data-target="#navbar-collapse-1" class="navbar-toggle">
        <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
      </button>
    </div>

    <div id="navbar-collapse-1" class="navbar-collapse collapse nav-btn-ground">
      <div class="col-md-offset-4 col-sm-offset-4">
        <ul class="nav navbar-nav ">
          <li class="">
            <a class="query_btn" href="/?query=wash_powder">洗衣粉</a>
          </li>
          <li class="">
            <a class="query_btn" href="/?query=wash_oil">洗衣精</a>
          </li>
          <li class="">
            <a class="query_btn" href="/?query=sauce">醬油</a>
          </li>
          <li class="">
            <a class="query_btn" href="/?query=dumpling">冷凍水餃</a>
          </li>
           <li class="">
            <a class="query_btn" href="/?query=coffee">咖啡</a>
          </li>
          <li class="">
            <a class="query_btn" href="/?query=oats">麥片</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
